@import "~src/assets/variables";
@import "~src/assets/mixins";
@import "~src/assets/palette";

.container {
  padding: 1rem;

  @include mq('tablet', min) {
    padding: 2rem;
  }
}

.card-grid {
  margin-top: 2rem;

  &-container {
    grid-column: span 1;
    min-width: 18rem;
    min-height: 20rem;
    width: 100%;
    max-height: 60rem;
    overflow: hidden;
    box-shadow: $card_shadow;
    border-radius: $b_radius;
  }
}

.card {
  padding: 1rem;
  margin: 1rem;
  opacity: 0.9;
  @include transition();

  &:hover {
    cursor: pointer;
    box-shadow: $card_shadow_hover;
    transform: translateY(-5px);
    @include transition();
  }

}

.custom-input {
  border-top-left-radius: $b_radius;
  border-top-right-radius: $b_radius;
  display: inline-block;
  padding: 0.5rem 0.5rem;
  overflow: visible;
  box-sizing: border-box;
  outline: 0;
  background-color: $light;
}

.pending {
  background: $yellow;
}

.rejected {
  background: $red;
}

.done {
  background: $blue;
}
