@import "~src/assets/variables";
@import "~src/assets/palette";
@import "~src/assets/mixins";

body {
  background: $background;
  color: $dark;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.005em;
  line-height: $line-height-base;
  font-size: $font-size-base;
  margin: 1rem;

  @include mq('tablet', min) {
    margin: 2rem;
  }

  @include mq('tablet-wide', min) {
    margin: 3rem 5rem 3rem 5rem;
  }
}

h1 {
  font-size: x-large;
  font-weight: $font-weight-bold;
  margin-bottom: 1.4rem;
  line-height: $headings-line-height-base;
}

h2 {
  font-size: large;
  font-weight: $font-weight-bold;
  transition: 0.1s ease-out;
  line-height: 1.7;
}

p {
  font-family: 'Lora', serif;
  line-height: 1.4;
  font-size: small;
  margin: 0 0 6px 0;
  font-style: italic;
  color: #fff;
}
